html, body, ul, li, p {
    padding: 0;
    margin: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

a[href] {
    color: #333;
    text-decoration: none;
    &:hover, &:focus {
        color: #a9a1db !important;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main {
    flex: 1 1 0;
    display: flex;
    align-items: center;
}

.sticky-header {
    position: sticky;
    top: 0;
    background: #fff;
    box-shadow: 0 0 1px 1px rgba($color: #000000, $alpha: 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 18px;
    z-index: 100;
    .sitename {
        padding-left: 16px;
        line-height: 1.5;
        font-size: 2em;
        margin: 0 0 0.5rem;
        transition: all .3s ease;
        &__link {
            font-size: 24px;
            color: #333;
            text-transform: uppercase;
        }
        &:hover {
            transform: scale(1.1);
        }
    }
}

.social-media {
    list-style: none;
    display: flex;
    .social-item {
        padding: 0 16px;
        .social-link {
            display: block;
            text-decoration: none;
            font-size: 24px;
            transition: all 0.3s ease-in-out;
            &:hover {
                transform: scale(1.25);
            }
            .social-text {
                display: none;
            }
        }
    }
}
.video-area {
    position: relative;
    width: 100%;
    overflow: hidden;
    &::before {
        content: '';
        display: block;
        padding-bottom: 62.5%;
    }
    .video {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
}

footer {
    background: #222;
    padding: 12px 40px;
    color: white;
    .copyright {
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .sticky-header {
        .sitename {
            padding: 0;
        }
    }
    .social-media {
        .social-item {
            padding: 0 10px;
            .social-link {
                font-size: 16px;
            }
        }
    }
    .video-area {
        &::before {
            padding-bottom: 160%;
        }
    }
}
